<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore>
    <api>
      <GraphQL>
        <defaults>
          <content>
            <schemaProviders>
              <helixContent>
                <queries>
                  <query name="selectSingleItemQuery" type="#namespace#.SelectSingleItemQuery, #assembly-name#"/>
                </queries>
              </helixContent>
              <systemContent>
                <queries>
                  <query name="selectSingleItemQuery" type="#namespace#.SelectSingleItemQuery, #assembly-name#"/>
                </queries>
              </systemContent>
            </schemaProviders>
          </content>
        </defaults>
      </GraphQL>
    </api>
  </sitecore>
</configuration>